*{
    margin: 0;
    padding: 0;
    transition: .5s;
    font-family:"Poppins", serif;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
}
::-webkit-scrollbar{
    display: none;
}
section{
    height: 100vh;
    width: 100%;
}
#Page1{
  background-color: #0e0b0f;
}
nav{
    display: flex;
}
.Center-elements-wrapper{
  height: 100vh;
  width: 750px;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-wrap: nowrap;
}
.nav-wrapper{
    position:sticky;
    margin-top: -70px;
    align-items: center;
    height: 50px;
    width: 160px;
    border-radius: 30px;
    background-color: #222222;
    position: absolute;
    left: 44.5%;
    display: flex;
    border: solid 3px #222222;
}
.nav-wrapper :nth-child(3){
    margin-right: 0;
}
.nav-wrapper a{
  text-decoration: none;
}
.icon-wrapper{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-right: 5px;
    color: white;
    text-align: center;
    line-height: 1.5;
    font-size:x-large;
    background-color: #1d1c1d;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
.icon-wrapper:hover{
    background: linear-gradient(#fefdfe,#686868);
    transform: translateY(-10px);
}
.icon{
    position: absolute;
}
.home{
    height: 10px;
    width: 10px;
    margin-left: -6px;
    margin-top: 20px;
}
.chat{
    height: 10px;
    width: 10px;
    margin-left: -6px;
    margin-top: 20px;
}
.teach{
    height: 15px;
    width: 15px;
    margin-left: -6px;
    margin-top: 18px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.logo-menu-wrapper {
  position: absolute;
  right: 50px;
  display: flex;
  margin-top: 17px;
  height: 50px;
  width: 105px;
  border-radius: 30px;
  background-color: #222222;
}

.logo {
  height: 45px;
  width: 45px;
  background-color: #2e2e2e;
  border-radius: 100%;
  margin-left: 5px;
  margin-top: 2px;
}

.logo img {
  height: 50px;
  width: 50px;
  margin-left: -3px;
  margin-top: -3px;
}

.menu {
  height: 45px;
  width: 45px;
  background-color: #2e2e2e;
  border-radius: 100%;
  margin-left: 5px;
  margin-top: 2px;
}

.menu:hover{
  transform: scale(1.06);
  transition: .5s;
  background-color: #fff;
}
.menu img {
  height: 20px;
  width: 20px;
  margin-left: 13px;
  margin-top: 12px;
}

.menu-bar {
  z-index: 120;
  width: 250px;
  margin-top: 80px;
  margin-left: 20px;
  height: 80%;
  background: linear-gradient(to top,#0e0b0f,#0e0b0f,#311747,#33172f,#0e0b0f,#0e0b0f);
  color: white;
  position: fixed;
  right: -300px; 
  transition: left 0.3s ease;
  border-radius: 50px;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
#close{
  position: relative;
  margin-left: 200px;
  height: 20px;
  width: 20px;
}
.menu-bar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
  align-items: center;
}

.menu-bar li {
  padding: 15px;
  margin-top: 30px;
  width: 200px;
  margin-left: 10px;
  border-radius: 20px;
}
.menu-bar li:hover{
  background:  #000000;
}
.menu-bar a {
  color: white;
  text-decoration: none;
}
.Menu-icon{
   height: 20px;
   width: 20px;
   margin-right: 20px;
}
.content {
  margin-left: 20px;
  padding-top: 20px;
}

.menu-bar.active {
  right: 0; 
}
.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  top: 60px;
  left: 35%;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}


.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;

}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}

.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}

.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 10px;
}

.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}

.Btn:active {
  transform: translate(2px ,2px);
}
.Contributers{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.green-dot{
    font-size: xx-large;
    color: greenyellow;
    margin-top: -20px;
    margin-right: 10px;
}
.client-cards{
    display: flex;
    flex-direction: column;
}
.card{
    position: absolute;
    height: 90px;
    width: 150px;
    border-radius: 5px;
    background: linear-gradient(to left, #241121,#0e0b0f);
    margin-left: 20px;
}
.card2{
  margin-top: 110px;
}
.user-profile{
    display: flex;
    margin-top: 10px;
}
.user-pfp{
    height: 20px;
    width: 20px;
    margin-left: 20px;
}
.user-profile h1{
    font-size: 15px;
    font-weight: 400;
    margin-left: 10px;
}
.card-details{
    display: flex;
    flex-direction: column;
}
.indicator{
    height: 10px;
    width: 10px;
    margin-left: 5px;
}
.percentage{
    display: flex;
    align-items: center;
    margin-left: 40px;
    font-size: 10px;
    height: fit-content;
    width: fit-content;
    background-color: white;
    border-radius: 30px;
}
.info-slider-wrapper{
    position: relative;
    left: 40%;
    top: 10%;
    height: 20px;
    width: 250px;
    background:linear-gradient(to right,#33172f,#0e0b0f00,#33172f);
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.info-slider{
    z-index: 102;
    max-width: 200px;
    margin-left: 20px;
    overflow: hidden;
    white-space: nowrap;
}
.info-text{

    animation: slider 10s linear infinite;
}
@keyframes slider{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-150%);
    }
}
.Hero-Part{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-top: 85px;
}
.Hero-Pic-wrapper{
    display: flex;
    position:relative;
    align-items: center;
    margin-left: 500px;
}
.Hero-Picture{
    height: 50px;
    width: 50px;
    margin-right: 20px;
}
.Hero-Text{

    font-size: 40px;
    font-weight: 300;
    color: white;
    margin-left: 490px;
    margin-top: -10px;
}

.colors-wrapper{
    text-align: center;
    position: absolute;
    height: 400px;
    width: 100%;
    top: 39%;
}
.purple{
    z-index: 100;
    position: relative;
    height: 200px;
    background: linear-gradient(0deg,#0e0b0f00,#bb29817c,#0e0b0f00);
}
.blue{
    z-index: 100;
    position: relative;
    margin-top: -150px;
    height: 200px;
    background: linear-gradient(180deg,#0e0b0f0c,#311747,#0e0b0f50);
}
.Visualizer{
    z-index: 3;
    position: absolute;
    height: 450px;
    width: 400px;
    left: 34%;
    top: -30%;
}

.upload{
    z-index: 101;
    margin-top: -40px;
    margin-left: 10px;
    height: 200px;
    width: 100px;
    border-radius: 20px;
    border: dashed 2px rgba(255, 255, 255, 0.514);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upload:hover{
  border: dashed 2px rgb(255, 255, 255);
  transform: scale(1.02);
}
.download-icon{
    height: 20px;
    width: 20px;
}
.download{
    z-index: 101;
    position: absolute;
    right: 0;
    top: 40%;
    height: 200px;
    width: 100px;
    margin-right: 10px;
    border-radius: 20px;
    border: solid 2px rgba(255, 255, 255, 0.219);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.download:hover{
  border: solid 2px rgb(255, 255, 255);
  transform: scale(1.02);
}
.Service-text{
   position: relative;
    z-index: 101;
    height: 20px;
    width: fit-content;
}
.Service-text::before{
    content: '';
    position: absolute;
    background: linear-gradient(to left,#0e0b0f25,#a11d80,#0e0b0f23);
    height: 1px;
    width: 300px;
    top: 990%;
    left: -42%;
}
.scrolldown {
    --color: white;
    --sizeX: 30px;
    --sizeY: 50px;
    position: relative;
    width: var(--sizeX);
    height: var(--sizeY);
    border: calc(var(--sizeX) / 10) solid var(--color);
    border-radius: 50px;
    box-sizing: border-box;
    margin-bottom: 16px;
    cursor: pointer;
    left: -5%;
    margin-top: 210px;
  }
  
  .scrolldown::before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: var(--color);
    border-radius: 100%;
    animation: scrolldown-anim 2s infinite;
    box-sizing: border-box;
    box-shadow: 0px -5px 3px 1px #2a547066;
  }
  
  @keyframes scrolldown-anim {
    0% {
      opacity: 0;
      height: 6px;
    }
  
    40% {
      opacity: 1;
      height: 10px;
    }
  
    80% {
      transform: translate(0, 20px);
      height: 10px;
      opacity: 0;
    }
  
    100% {
      height: 3px;
      opacity: 0;
    }
  }
  
  .chevrons {
    padding: 6px 0 0 0;
    margin-left: -3px;
    margin-top: 48px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .chevrondown {
    margin-top: -6px;
    position: relative;
    border: solid var(--color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
  }
  
  .chevrondown:nth-child(odd) {
    animation: pulse54012 500ms ease infinite alternate;
  }
  
  .chevrondown:nth-child(even) {
    animation: pulse54012 500ms ease infinite alternate 250ms;
  }
  
  @keyframes pulse54012 {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 0.5;
    }
  }
#Page2{
    background:linear-gradient(to top,#311747,#0e0b0f);
    display: flex;
}
.Chatbot-Card{
    position: absolute;
    right: 2%;
    margin-top: 100px;
    height: 500px;
    width: 450px;
    border-radius: 10px;
    background-color: #0e0b0f;
    display: flex;
    flex-direction: column;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
.Chatbot-Card nav{
    height: 50px;
    width: 100%;
    background-color: black;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
.pfp{
    height: 40px;
    width: 40px;
    border-radius: 100%; 
    margin-left: 20px;
}
.clean-icon{
  height: 50px;
  width: 50px;
  border-radius: 100%; 
  position: relative;
  margin-left: 260px;
  background-color: #000;
}
.clean-icon-img{
  height: 50px;
  width: 50px;
  background-color: #000;
  margin-left: -10px;
  margin-top: -2px;
}
.pfp1{
  height: 50px;
  width: 50px;
  background-color: #000;
  border-radius: 100%;
}
.Chatbot-Card p{
  color: white;
  margin-top: 11px;
  margin-left: 10px;
}
.Chat{
    overflow-y: auto;
    height: 500px ;
    background: linear-gradient(to top,#311747,#0e0b0f);
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
  border-radius: 10px;
}
.Chat-input{
    height: 50px;
    width: 100%;
    border-radius: 0 0 10px 10px;
    background-color: rgb(0, 0, 0);
    display: flex;
}
.message {
  padding: 8px 12px;
  margin: 5px 0;
  border-radius: 5px;
  max-width: 70%;
  word-wrap: break-word;
}

.user-message {
  align-self: flex-start;
  position: relative;
  right: -100px;
  background-color: #EEEEEE;
  color: #311747;
  text-align: right;
}

.ai-message {
  background-color: #311747;
  color: #fff;
  align-self: flex-start;
  text-align: left;
}
.messageBox {
    width: fit-content;
    height: 40px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    padding: 0 15px;
    border-radius: 10px;
    border: 1px solid rgb(63, 63, 63);
    margin-left: 10px;
    margin-top: 3px;
  }
  .messageBox:focus-within {
    border: 1px solid rgb(255, 255, 255);
  }
  .tooltip {
    position: absolute;
    top: -40px;
    display: none;
    opacity: 0;
    color: white;
    font-size: 10px;
    text-wrap: nowrap;
    background-color: #000;
    padding: 6px 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.596);
    transition: all 0.3s;
  }
  #messageInput {
    width: 200px;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    padding-left: 10px;
    color: white;
  }
  #messageInput:focus ~ #sendButton svg path,
  #messageInput:valid ~ #sendButton svg path {
    fill: #3c3c3c;
    stroke: white;
  }
  
  #sendButton {
    width: fit-content;
    height: 100%;
    margin-left: 125px;
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
  }
  #sendButton svg {
    height: 18px;
    transition: all 0.3s;
  }
  #sendButton svg path {
    transition: all 0.3s;
  }
  #sendButton:hover svg path {
    fill: #3c3c3c;
    stroke: white;
  }
.mic-button{
    position: absolute;
    right: 3%;
    bottom: 2%;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: solid 1px #3c3c3c;
}
.mic-icon{
    height: 20px;
    width: 20px;
    margin-left: 9px;
    margin-top: 5px;
}
.Main-Text{
  display: flex;
  align-items: center;
}
.Main-Text::before{
  content: '';
  height: 2px;
  width: 300px;
  background: white;

}
.Page2-text{
  font-size: 50px;
  font-weight: 500;
  color: white;
}
#Page3{
  background: linear-gradient(to bottom,#311747,#0e0b0f);
}
.Feedback-text{
  display: flex;
  position: absolute;
  right: 2px;
  top: 1720px;
  align-items: center;
}
.Feedback-text::after{
  content: '';
  height: 2px;
  width: 300px;
  background: white;
}
.Feedback-Card{
  position: absolute;
  height: 500px;
  width: 400px;
  background: linear-gradient(to bottom,#311747,#0e0b0f);
  border-radius: 10px;
  left: 50px;
  top: 1490px;
}
.form {
  --width-of-input: 200px;
  --border-height: 1px;
  --border-before-color: rgb(221, 221, 221);
  --border-after-color: #5891ff;
  --input-hovered-color: #4985e01f;
  position: relative;
  width: var(--width-of-input);
  margin-left: 40px;
  margin-top: 200px;
  margin-bottom: 150px;
 }

 .input {
  color: #fff;
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
 }

 .input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
 }

 input:hover {
  background: var(--input-hovered-color);
 }
 
 input:focus {
  outline: none;
 }

 input:focus ~ .input-border {
  width: 100%;
 }

 .button {
  --😀: #644dff;
  --😀😀: #4836bb;
  --😀😀😀: #654dff63;
  cursor: pointer;
  width: 184px;
  height: 48px;
  margin-left: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.125em;
  font-weight: 800;
  letter-spacing: 2px;
  color: #fff;
  background: var(--😀);
  border: 2px solid var(--😀😀);
  border-radius: .75rem;
  box-shadow: 0 8px 0 var(--😀😀);
  transform: skew(-10deg);
  transition: all .1s ease;
  filter: drop-shadow(0 15px 20px var(--😀😀😀));
}

.button:active {
  letter-spacing: 0px;
  transform: skew(-10deg) translateY(8px);
  box-shadow: 0 0 0 var(--😀😀😀);
}
.Page3-text{
  font-size: 40px;
  font-weight: 500;
  color: white;
}

/*Responssivness part*/
@media (max-width:1440px){
  section{
   height: 105vh;
  }
  .Hero-Part{
    margin-left: 120px;
  }
  .Visualizer{
    left: 36%;
  }
  .Service-text{
    margin-left: 640px; 
  }
  .scrolldown{
    margin-left: 700px;
  }
}
@media (max-width:1279px){
  .Center-elements-wrapper{
    margin-left: -50px;
  }
  .Service-text{
    margin-left: 620px; 
  }
}
@media (max-width:1275px){
  .Visualizer{
    left: 35%;
  }
  .scrolldown{
    margin-left: 680px;
  }
  .Page3-text{
    font-size: 30px;
  }
}
@media (max-width:1179px){
  .Center-elements-wrapper{
    margin-left: -80px;
  }
  .Page3-text{
    font-size: 20px;
  }
  .Page2-text{
    font-size: 30px;
  }
}
@media (max-width:1089px){
  .Center-elements-wrapper{
    margin-left: -120px;
  }
}
@media (max-width:967px){
  .Center-elements-wrapper{
    margin-left: -165px;
  }
  .Page3-text{
    font-size: 15px;
  }
  .Page2-text{
    font-size: 20px;
  }
}
@media (max-width:852px){
  .Center-elements-wrapper{
    margin-left: -220px;
  }
  .Main-Text{
    margin-top: -665px;
  }
  .Feedback-text{
    margin-top: -415px
  }
  .Page3-text{
    font-size: 30px;
  }
  .Page2-text{
    font-size: 30px;
  }
}
@media (max-width:750px){
  .Center-elements-wrapper{
    margin-left: -275px;
  }
  .Visualizer{
    left: 30%;
  }
}

@media (max-width:647px){
  .Center-elements-wrapper{
    margin-left: -365px;
    margin-top: 75px;
  }
  .Page3-text{
    font-size: 20px;
  }
  .client-cards{
    display: none;
  }
  .Contributers{
    display: none;
  }
  .nav-wrapper{
    margin-top: -60px;
    left: 39.5%;
  }
  .Visualizer{
    left: 20%;
  }
  .Chatbot-Card{
    right: 10%;
  }
  .Feedback-Card{
    left: 110px;
  }
}
@media (max-width:530px){
  .Center-elements-wrapper{
    margin-left: -420px;
    margin-top: 75px;
  }
  .Visualizer{
    left: 13%;
  }
  .Chatbot-Card{
    right: 5%;
  }
  .nav-wrapper{
    margin-top: -60px;
    left: 36.5%;
  }
  .logo-menu-wrapper{
    flex-direction: column;
    height: 49px;
    width: 48px;
  }
  .logo{
    display: none;
  }
  .Feedback-Card{
    left: 60px;
  }
  .Feedback-text::after{
    content: '';
    height: 2px;
    width: 200px;
    background: white;
  }
  .Feedback-text{
    margin-top: -375px
  }
  .Visualizer{
    z-index: 3;
    position: absolute;
    height: 350px;
    width: 300px;
    left: 20%;
    top: -20%;
}
}
@media (max-width:471px) {
  .nav-wrapper{
    margin-top: -60px;
    left: 33.5%;
  }
  .Center-elements-wrapper{
    margin-left: -440px;
    margin-top: 75px;
  }
  .Visualizer{
    z-index: 3;
    position: absolute;
    height: 350px;
    width: 300px;
    left: 20%;
    top: -20%;
}
.Chatbot-Card{
  top: 110%;
  right: 13%;
  height: 400px;
  width: 350px;
}
.messageBox {
  height: 40px;
  width: 250px;

}
#sendButton {
  margin-left: 75px;
}
.Feedback-Card{
  height: 400px;
  width: 300px;
  left: 90px;
  top: 1490px;
}
.button {
  width: 184px;
  height: 48px;
  margin-top: -100px;
  margin-left: 60px;
}
.Main-Text::before{
  content: '';
  height: 2px;
  width: 200px;
  background: white;

}

}
@media (max-width:415px) {
  .Center-elements-wrapper{
    margin-left: -470px;
    margin-top: 75px;
  }
  .nav-wrapper{
    margin-top: -60px;
    left: 30.5%;
  }
  .Visualizer{
    z-index: 3;
    position: absolute;
    height: 350px;
    width: 300px;
    left: 15%;
    top: -20%;
}
.clean-icon {
  margin-left: 160px;
}
}
@media (max-width:382px) {
  .Center-elements-wrapper{
    margin-left: -480px;
    margin-top: 75px;
  }
  .nav-wrapper{
    margin-top: -60px;
    left: 29%;
  }
  .Chatbot-Card{
    top: 110%;
    right: 3%;
    height: 400px;
    width: 350px;
  }
  .Feedback-Card{
    height: 400px;
    width: 300px;
    left: 30px;
    top: 1490px;
  }
  .clean-icon {
    margin-left: 160px;
  }
}

@media (max-width:351px) {
  .Visualizer{
    height: 350px;
    width: 300px;
    left: 5%;
    top: -20%;
}
  .Center-elements-wrapper{
    margin-left: -500px;
    margin-top: 75px;
  }
  .Chatbot-Card{
    top: 110%;
    right: 5%;
    height: 350px;
    width: 300px;
  }
  .Feedback-Card{
    height: 400px;
    width: 300px;
    left: 30px;
    top: 1490px;
  }
  .Main-Text{
    margin-top: -500px;
  }
  .logo-menu-wrapper {
    right: 30px;
  }
  .clean-icon {
    margin-left: 160px;
  }
}
@media (max-width:323px) {
  .Feedback-Card{
    height: 400px;
    width: 300px;
    left: 10px;
  }
  .messageBox {
    height: 40px;
    width: 200px;
  
  }
  #sendButton {
    margin-left: 30px;
  }
  .nav-wrapper{
    left: 23%;
  }
  .Visualizer{
    height: 300px;
    width: 250px;
    left: 15%;
    top: -10%;
}
  .colors-wrapper{
  width: 104%;
}
section{
  width: 104%;
}
.clean-icon {
  margin-left: 130px;
}
}